@font-face {
	font-family: beatlesFont;
	src: url("../fonts/BOOTLE__.TTF");
}

footer {
	display: none;
	text-align: center;
}

.navbar {
	font-family: beatlesFont;
	/* 	font-weight: bold; */
}

#answer {
	display: none;
/* 	text-align: right; */
	font-family: verdana;
}